#d-sidebar {
  background-color: #f3f5f7;
  position: relative;
}

#d-sidebar ul {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}

#d-sidebar .toggle-btn-open {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 25px;
  line-height: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(
      90deg,
      #ff66f4 0%,
      #6d26da 26.04%,
      #001b99 56.25%,
      #0058a7 79.69%,
      #00c9dc 100%
    ),
    linear-gradient(0deg, #fefefe, #fefefe) !important;
  color: #fff;
}

#d-sidebar nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #fff;
  width: 20rem;
  padding: 1.8rem 0.85rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease-in-out;
  z-index: 9;
}

#d-sidebar nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}

#d-sidebar .sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

#d-sidebar .sidebar-top .logo {
  width: 150px;
  margin: 0 0.8rem;
  transition: 0.5s ease;
}

#d-sidebar .sidebar-top .logo.logo-hide {
  display: none;
  transition: 0.5s ease;
}

#d-sidebar .sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

#d-sidebar .shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  border-radius: 6px;
  cursor: pointer;
  right: 0.35rem;
  transform: translateY(-50%) translateX(-8px);
  pointer-events: none;
  transition: 0.3s;
}

#d-sidebar .shrink-btn i {
  line-height: 30px;
  font-size: 25px;
  transition: 0.3s;
  color: #737a7c;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #737a7c;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

#d-sidebar nav:hover .shrink-btn,
#d-sidebar .shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

#d-sidebar.sidebar-links ul {
  position: relative;
}

#d-sidebar .sidebar-links li {
  position: relative;
  margin: 5px 0;
}

#d-sidebar .sidebar-links a {
  color: #6e7275;
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
}

#d-sidebar .sidebar-links a.active,
#d-sidebar .sidebar-links a:hover {
  background-color: #f3f5f7;
  border-radius: 10px;
  transition: top 0.3s;
}

#d-sidebar .sidebar-links a.active .icon i,
#d-sidebar .sidebar-links a:hover .icon i {
  background: linear-gradient(
    90deg,
    #ff66f4 0%,
    #6d26da 26.04%,
    #001b99 56.25%,
    #0058a7 79.69%,
    #00c9dc 100%
  );
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

#d-sidebar .icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#d-sidebar .icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
  color: #6e7275;
}

#d-sidebar .sidebar-links a .link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #6e7275;
}

#d-sidebar .sidebar-links a.active .link,
#d-sidebar .sidebar-links a:hover .link {
  color: #151717;
}

#d-sidebar .sidebar-links h4 {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  height: 45px;
  line-height: 45px;
  transition: opacity 0.3s 0.2s, height 0.5s 0s;
}

#d-sidebar .sidebar-footer {
  position: relative;
  margin-top: auto;
  background-color: #f3f5f7;
  border-radius: 16px;
  padding: 20px 10px;
}

#d-sidebar .admin-profile {
  white-space: nowrap;
  max-width: 100%;
  transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

#d-sidebar .admin-user img {
  width: 2.9rem;
  border-radius: 50%;
  margin: 0 0.4rem;
}

#d-sidebar .admin-info {
  padding-left: 0.3rem;
}

#d-sidebar .admin-info h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #151717;
}

#d-sidebar .admin-info h3 span.free {
  margin-left: 10px;
  font-size: 10px;
  padding: 4px 12px;
  background: #ceabf9;
  border-radius: 5px;
}

#d-sidebar .admin-info h5 {
  margin-top: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: #929697;
}

#d-sidebar .upgrade-to-pro {
  display: flex;
  height: 40px;
  min-width: 2.4rem;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-radius: 10px;
  margin: 1rem 0.65rem 0 0.65rem;
  transition: color 0.3s;
  border: none !important;
  outline: none !important;
  position: relative !important;
  transition: color 0.3s;
  background: linear-gradient(
      90deg,
      #ff66f4 0%,
      #6d26da 26.04%,
      #001b99 56.25%,
      #0058a7 79.69%,
      #00c9dc 100%
    ),
    linear-gradient(0deg, #fefefe, #fefefe) !important;
  cursor: pointer !important;
  z-index: 1 !important;
}

#d-sidebar .upgrade-to-pro::before {
  content: "" !important;
  position: absolute !important;
  left: 1px !important;
  right: 1px !important;
  top: 1px !important;
  bottom: 1px !important;

  border-radius: 10px !important;
  background-color: white !important;
  z-index: -1 !important;
}

#d-sidebar .upgrade-to-pro:hover {
  color: #fff;
  transition: 0.3s ease-in-out;
}

#d-sidebar .log-out:hover {
  color: #fff;
}

.hide {
  transition: opacity 0.3s 0.2s;
}

#d-sidebar.mobile .shrink-btn,
#d-sidebar.mobile .shrink-btn i {
  display: none !important;
}

#d-sidebar .toggle-btn-close {
  display: none;
}

#d-sidebar.mobile .toggle-btn-close {
  display: block;
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  border-radius: 6px;
  cursor: pointer;
  right: 0.35rem;
  transition: 0.3s;
}

#d-sidebar.mobile .toggle-btn-close i {
  line-height: 27px;
  font-size: 25px;
  transition: 0.3s;
  color: #737a7c;
  border: 1px solid #737a7c;
}

@media screen and (max-width: 1200px) {
  nav {
    position: absolute;
    left: -500px;
    transition: 0.5s ease-in-out;
  }

  #d-sidebar.mobile nav {
    left: 0;
  }
}

@media screen and (max-width: 769px) {
  #d-sidebar {
    display: block;
  }
}

#d-sidebar.shrink nav {
  width: 5.4rem;
}

#d-sidebar.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

#d-sidebar.shrink .shrink-btn i {
  transform: rotate(-180deg);
}

#d-sidebar.shrink .sidebar-links h4 {
  height: 10px;
}

#d-sidebar.shrink .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

#d-sidebar.shrink .admin-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}
